@model SteakShop.Models.WorkShift

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Work Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />            
            <div class="form-group">
                <label asp-for="WorkHours" class="control-label"></label>
                <input asp-for="WorkHours" class="form-control" />
                <span asp-validation-for="WorkHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shifts" class="control-label"></label>
                <input asp-for="Shifts" class="form-control" />
                <span asp-validation-for="Shifts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holidays" class="control-label"></label>
                <select asp-for="Holidays" class="form-control" asp-items="ViewBag.Holiday"></select>
                <span asp-validation-for="Holidays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChefId" class="control-label"></label>
                <select asp-for="ChefId" class="form-control" asp-items="ViewBag.Chef"></select>
                <span asp-validation-for="ChefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>         
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageWorkshift" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
