@{
    ViewData["Title"] = "Login";
}
@{
    Layout = null;
}

@model SteakShop.Models.User;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Signin Form Template Example</title>
    <link rel="stylesheet" href="css/style1.css">
    <style>
        body {
            background-image: url('~/wwwroot/img/bg.jpg');
        }
    </style>
</head>
<body>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            body {
                background-image: url('~/wwwroot/img/bg.jpg');
            }
        </style>
    </head>

    <body style="background-image: url('~/wwwroot/img/bg.jpg');">
        <div id="form">
            <div class="container">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase text-center"> Log in</h2>
                    <form asp-action="Login">
                        <div class="form-group">
                            <label asp-for="Username"> Username<span class="req">*</span> </label>
                            <input asp-for="Username" type="text" class="form-control">
                            <p class="help-block text-danger"></p>

                        </div>
                        <div class="form-group">
                            <label asp-for="Password"> Password<span class="req">*</span> </label>
                            <input asp-for="Password" type="password" class="form-control">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="mrgn-30-top">
                            <button type="submit" class="btn btn-larger btn-block" />
                            Log in
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
        </div>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
    <!-- partial -->
    <script src="./script.js"></script>

</body>
</html>
