@{
	ViewData["Title"] = "Chef";
}
<div class="site-main">
	<!-- Start banner bottom -->
	<div class="row banner-bottom common-bottom-banner align-items-center justify-content-center">
		<div class="col-lg-8 offset-lg-4">
			<div class="banner_content">
				<div class="row d-flex align-items-center">
					<div class="col-lg-7 col-md-12">
						<h1>Experienced Chefs</h1>
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
							especially in the workplace. That’s why it’s crucial that, as women.
						</p>
					</div>
					<div class="col-lg-5 col-md-12">
						<div class="page-link-wrap">
							<div class="page_link">
								<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
								<a asp-area="" asp-controller="Chef" asp-action="Chef">Chefs</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner bottom -->
	<!--================ Start Chef Area =================-->
	<div class="chef-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="left-chef">
						<img class="img-fluid" src="~/SteakShop/img/chef/chef1.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="left-content">
						<h1>Daily Food Courses with Drinks </h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
							dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
							dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
						</p>
						<img src="~/SteakShop/img/chef/signature.png" alt="">
					</div>
				</div>
			</div>
			<div class="row chef-items">
				<div class="col-lg-12 offset-lg-1">
					<div class="row">
						<!-- single chef item -->
						<div class="col-lg-2 col-md-6">
							<div class="single-chef-item">
								<a href="~/SteakShop/img/food/food5.jpg" class="img-popup"><img src="~/SteakShop/img/chef/item1.png" alt=""></a>
							</div>
						</div>
						<!-- single chef item -->
						<div class="col-lg-2 col-md-6">
							<div class="single-chef-item">
								<a href="~/SteakShop/img/food/food6.jpg" class="img-popup"><img src="~/SteakShop/img/chef/item2.png" alt=""></a>
							</div>
						</div>
						<!-- single chef item -->
						<div class="col-lg-2 col-md-6">
							<div class="single-chef-item">
								<a href="~/SteakShop/img/food/food7.jpg" class="img-popup"><img src="~/SteakShop/img/chef/item3.png" alt=""></a>
							</div>
						</div>
						<!-- single chef item -->
						<div class="col-lg-2 col-md-6">
							<div class="single-chef-item">
								<a href="~/SteakShop/img/food/food8.jpg" class="img-popup"><img src="~/SteakShop/img/chef/item4.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Chef Area =================-->
</div>
